.iconCard-sm img,
.iconCard-md img,
.iconCard-lg img {
  object-fit: cover;
  border-radius: 50%;
}

.iconCard-sm img {
  height: 60px;
  width: 60px;
}

.iconCard-md img {
  height: 100px;
  width: 100px;
}

.iconCard-lg img {
  height: 240px;
  width: 240px;
}

.iconCard-sm h4,
.iconCard-md h4,
.iconCard-lg h4 {
  width: 100%;
  text-align: center;
}

.iconCard-sm h4 {
  font-size: 10pt;
}

.iconCard-md h4 {
  font-size: 14pt;
}

.iconCard-lg h4 {
  font-size: 18pt;
}

.iconCard-sm div {
  width: 60px;
  margin: 5px;
}

.iconCard-md div {
  width: 100px;
  margin: 8px;
}

.iconCard-lg div {
  width: 240px;
  margin: 10px;
}
