.list-img-md {
    object-fit: cover;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    margin: 3px 8px;
}

.list-img-sm {
    object-fit: cover;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.list-icon-md {
    font-size: 54px;
    margin: -10px 8px;
}

.list-icon-sm {
    font-size: 24px;
    margin: -10px 0px;
}

.advent-font.advent-font-sm {
    margin: 0px 5px;
}

.advent-font-sm {
    font-size: 20px;
    line-height: 27px;
    color: var(--dark-teal);
}

.full-width {
    width: 100%;
}

.item-padding {
    padding-bottom: 2em;
}

.panel-text {
    color: var(--dark-teal) !important;
}

.panel-text:hover {
    color: var(--teal) !important;
}

h4.panel-text:hover .advent-font i {
    color: var(--teal);
}