.nav-btn,
.nav-btn:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  height: 50px;
  width: 200px;
  border-radius: 2px;
  margin: 0px 10px 20px;

  font-family: 'Advent Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
}

.nav-btn.teal {
  background-color: var(--teal);
}

.nav-btn.dark-teal {
  background-color: var(--dark-teal);
  color: white;
}

.nav-btn.orange {
  background-color: var(--orange);
}

.nav-btn.purple {
  background-color: var(--purple);
}