.tile-container {
    width: 250px;
    height: 250px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.tile-container-green {
    background-color: var(--green);
}

.panel-section{
    margin-top: 15px;
}

p.short-descr {
    font-size: 20px;
    line-height: 22px;
}

.rank-text {
    color: var(--teal);
    font-size: 18px;
}

.rank-text-i {
    font-style: italic;
    font-weight: 200;
}

.small-dates {
    color: var(--teal);
    font-size: 16px;
    line-height: 19px;
}

.progress>.progress-bar {
    background-color: var(--teal);
}

.tag-pill {
    padding: 5px 15px;
    height: 37px;
    border-radius: 10px;
    background-color: var(--tan);
    margin: 5px;
}

.tag-text {
    font-size: 18px;
    text-align: center;
}

.bio-text.advent-font {
    font-size: 14px;
    line-height: 16px;
    color: var(--dark-teal);
    margin-bottom: 0px;
}

.front-overlay {
    top: 0;
    right: 0;
    position: absolute;
}

.prof-img-container {
    position: relative;
    text-align: right;
}

.icon-card-container .iconCard-lg div {
    margin-left: auto;
    margin-right: auto;
}

.indent-body {
    width: 100%;
    padding-left: 10px;
}