div.project-card {
  background-color: var(--green);
  width: 100%;
  border-radius: 15px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 25px 16px;
  margin-bottom: 15px;
}

.max-flex-col {
  max-width: 50%;
}

.rmv-gutters>div,
.container-fluid.rmv-gutters-container {
  padding-left: 5px;
  padding-right: 5px;
}

.list-top-padding {
  padding-top: 15px;
}

.lg>.advent-font {
  font-size: 36px;
}

.lg>.advent-font>li {
  font-size: 24px;
}

.progress-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.progress-date-container {
  position: relative;
}

.start-overlay {
  top: 0;
  left: 0;
  position: absolute;
}

.end-overlay {
  bottom: 0;
  right: 0;
  position: absolute;
}

.rank-text.rank-text-big {
  font-size: 22px;
}

.rank-text.proj {
  color: var(--dark-teal);
}

.CircularProgressbar-text {
  font-family: "Advent Pro", sans-serif;
}