:root {
  --teal: rgba(72, 169, 166, 1);
  --dark-teal: rgba(15, 82, 87, 1);
  --dark-brown: rgba(90, 35, 40, 1);
  --tan: rgba(216, 203, 199, 1);
  --light-yellow: rgba(216, 203, 199, 1);
  --purple: rgba(176, 161, 186, 1);
  --green: rgba(210, 229, 158, 1);
  --orange: rgba(243, 155, 109, 1);
}